
  .text-color-otp {
    color: #145a32;
  }
  .card-otp{
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #d4efdf;
    border: none;
    position: relative;
  }
  .container-otp {
    height: 100vh;
  }
  .mobile-text-otp {
    color: #cd5c5c;
    font-size: 15px;
  }
  .form-control-otp {
    margin-right: 12px;
  }
  .form-control-otp:focus {
    color: #495057;
    background-color: #d4efdf;
    border-color: #c0392b;
    outline: 0;
    box-shadow: none;
  }
  .cursor {
    cursor: pointer;
  }
  